
<nav class="navbar navbar-expand-lg navbar-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

      <li class="nav-item " [class.dropdown]="item.submenu" *ngFor="let item of items;let index = index">
        <a class="nav-link" routerLinkActive="active"  [routerLink]="item.url"   [class.dropdown-toggle]="item.submenu"  id="navbarDropdown-{{index}}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
           >
          {{item.name | uppercase }}
        </a>
        <div class="dropdown-menu" *ngIf="item?.submenu">
          <a class="dropdown-item" *ngFor="let dropdownItem of item.submenu" [href]="dropdownItem.url">{{dropdownItem.name}}</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

