<div class="container ">
  <div class="row ">
    <div class=" description justify-content-center">
    <app-carousel></app-carousel>
      <h4>HODOWLA BULDOGA FRANCUSKIEGO</h4>
<p>Witamy na stronie domowej hodowli buldoga  Psy towarzyszą nam od zawsze. Był wyżeł, owczarek niemiecki, cane corso. Kontrolowaliśmy uczucia do zwierząt do chwili kie naszym domu pojawiły się buldogi francuskie: Sama Słodycz , Valentine, Amore Mio. W tym momencie świat na głowie!</p>
  <p>Buldog francuski... pies do towarzystwa - sądziliśmy,że to mit. Jednak buldożek nie schodzi z kolan,patrzy głęboko w oczy, dzieli naszą radość, łączy się  Niesamowite! Nasza  z rasą zaczęła się w 2010 roku. Buldożki skradły nam serca. Żałujemy, że tak późno.</p>
</div>
</div>
</div>
