@import "../../../style/bootstrap";
@import "../../../styles";

.description {background:$blue;
  @debug $headline-color;
  color:white;
  h4{font-weight:300;
    padding:1rem 0 .5rem 1.5rem ;}
p{padding:0 1rem 0 1.5rem;
font-size: 14px;}
  p:last-of-type{padding:0 1rem 1.5rem 1.5rem;}
}
