:host{color:white;
  }
.data{position:relative;
display:flex;
flex-direction:column;

.adress-box{display:flex;
  flex-direction:row;
}
  ul{list-style-type: none;
    padding:0 1rem;
    font-size: 13px;

}
  ul:first-of-type li{background:rgb(82, 84, 86);
  padding:.3rem .7rem;
    font-weight:500;
    font-size:13px;
    min-width:6rem;
  }
}
.information {padding: 1rem 0 1.5rem 0;}

