<div class="data-info bg-secondary">
  <div class="container">
  <div class="information">DANE KONTAKTOWE</div>
    <div class="row">
    <div class="col-lg-6 data">
      <div class="adress-box">
      <ul>
        <li>ADRES</li>
      </ul>
      <ul>
        <li>HODOWLA BULDOGA FRANCUSKIEGO "Nazwa"</li>
        <li>Krzysztof Dmitrowski</li>
        <li>37-300 Leżajsk, ul Przemysłowa 3</li>
        <li></li>
      </ul>
      </div>
      <div class="adress-box">
      <ul>
        <li>TELEFON</li>
      </ul>
      <ul>
        <li>726 88 39334</li>
      </ul>
      </div>
      <div class="adress-box">
        <ul>
          <li>E-MAIL</li>
        </ul>
        <ul>
          <li>dmitrowski.krzysztof@gmail.com</li>
        </ul>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row">
      <app-form></app-form>
      </div>
    </div>
  </div>
</div>
</div>

