<form>
  <div class="form-group">
    <label for="exampleInputName">IMIĘ</label>
    <input type="text" class="form-control" id="exampleInputName" placeholder="Wpisz imię">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">E-mail</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Wpisz e-mail">
  </div>
  <div class="form-group">
    <label for="comment">NAPISZ DO NAS:</label>
    <textarea class="form-control" rows="3" id="comment"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
