.introduction nav >a img{
  cursor: pointer;
  &:focus{border:none;
  outline:none;}
}
.introduction nav ul:nth-of-type(2) {
  margin: 0 3rem 0 23rem;
}
.introduction nav ul:first-of-type li:nth-of-type(2) {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  a {
    font-size: 12px;
    font-weight: 600;
  }
}
.introduction nav ul:first-of-type li:nth-of-type(1) > a {
  //color: theme-color("primary");
  font-size: 24px;
}
.introduction nav ul:last-of-type{
  align-items:center;
list-style: none;
  display:flex;
  flex-direction: row;
  li {padding:0 .5rem;
    }
  li:nth-of-type(3){padding-left:3.5rem;
}
}


