<div class="introduction bg-light ">
  <div class="container">
    <div class="row">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand " routerLinkActive="active"  routerLink="lapa" ><img  src="././assets/img/lapa.png/"/></a>
        <div class="collapse navbar-collapse" id="navbarIntroduction">
          <ul class="navbar-nav">
            <li class="nav-item ">
              <a class="disabled">Nasza Nazwa </a>
            </li>
            <li class="nav-item ">
              <a class="disabled">Hodowla Buldoga Francuskiego </a>
            </li>
          </ul>
          <ul>
            <li class="nav-item ">
              <a class="disabled"><img src="././assets/img/zkwp.png/"/></a>
            </li>
            <li class="nav-item ">
              <a class="disabled"><img src="././assets/img/fci.png/"/></a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="#"><img src="././assets/img/en.png/"/></a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="#"><img src="././assets/img/pl.png/"/></a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
<div class="container bg-middle-light">
  <div class="row">
    <app-menu></app-menu>
  </div>
</div>

